<div class="footer">
  <div class="container">
    <div class="footer-info">
      <h3>Contact</h3>
      <p class="f-address">188 Danyow Drive, Middlebury, VT 05753</p>
      <ul>
        <li><a href="#" class="facebook"> </a>
        <li><a href="#" class="facebook twitter"> </a>
        <li><a href="#" class="facebook chrome"> </a>
        <li><a href="#" class="facebook dribbble"> </a>
        <li><a href="#" class="facebook pinterest"> </a>
      </ul>
      <p class="copyright"> © 2015 kidsmakevt</p>
    </div>
  </div>
</div>

