<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{{> header }}
<body>
  <!-- banner -->
  <div class="banner">
    <div class="banner-content">
      {{> logo }}
      {{> menu }}
    </div>
  </div>
  <!-- //banner -->
  <!-- about -->
  <div class="about-top">
    <div class="about-info">
        <h3>About</h3>
      </div>
    <div class="welcome offer about">
      <div class="welcome-left offer-left about-left">
        <h3>A brief history of about us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate sem vitae tortor venenatis 
          elementum. Suspendisse fermentum mauris arcu, eu hendrerit felis gravida at. Pellentesque habitant morbi 
          tristique senectus et netus et malesuada fames ac turpis egestas.Lorem ipsum dolor sit amet, consectetur 
          adipiscing elit. Ut ullamcorper velit tellus, et imperdiet dui commodo vitae. Donec vehicula rhoncus lacus. 
          Cras lacinia, massa et tempus iaculis, velit ipsum aliquet turpis, vel ultricies lectus ligula eu felis. 
          Sed vel euismod ex. Aenean at sem quis tellus tincidunt ultricies. Donec tristique dui sed est interdum 
          molestie. Curabitur iaculis fermentum velit, ultricies aliquam tortor. 
        </p>
      </div>
      <div class="welcome-right about-right">
        
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //about -->
  <!-- about-bottom -->
  <div class="about-bottom">
    <!-- container -->
    <div class="container">
      <h3>A new generation of mining</h3>
      <div class="about-bottom-grids">
        <div class="col-md-6 about-bottom-left">
          <h4>Morbi convallis urna sit amet feugiat</h4>
          <p>Vivamus sit amet molestie orci. Nullam porttitor porta lobortis. Mauris semper feugiat varius. Mauris nec ligula 
            diam. Cras ullamcorper lorem eu sapien viverra cursus. Pellentesque commodo libero eget malesuada blandit. 
            <span>Integer at imperdiet orci. Donec laoreet dignissim ex, vitae hendrerit nulla. Praesent efficitur ex vel tempus 
            blandit. Nunc sed purus ac sapien cursus eleifend vitae id ipsum. Mauris nec vehicula est. </span>
            Nullam ac odio massa nullam et condimentum magna, eget congue dui.Sed sit amet laoreet libero. Duis faucibus 
            felis et dolor ultrices pulvinar eu at orci.
          </p>
        </div>
        <div class="col-md-6 about-bottom-left about-bottom-right">
          <h4>Morbi convallis urna sit amet feugiat</h4>
          <p>Vivamus sit amet molestie orci. Nullam porttitor porta lobortis. Mauris semper feugiat varius. Mauris nec ligula 
            diam. Cras ullamcorper lorem eu sapien viverra cursus. Pellentesque commodo libero eget malesuada blandit. 
            <span>Integer at imperdiet orci. Donec laoreet dignissim ex, vitae hendrerit nulla. Praesent efficitur ex vel tempus 
            blandit. Nunc sed purus ac sapien cursus eleifend vitae id ipsum. Mauris nec vehicula est. </span>
            Nullam ac odio massa nullam et condimentum magna, eget congue dui.Sed sit amet laoreet libero. Duis faucibus 
            felis et dolor ultrices pulvinar eu at orci.
          </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //about-bottom -->
  <div class="about-team">
    <!-- container -->
    <div class="container">
      <h4>Work Team</h4>
      <div class="team-grids">
        <div class="col-md-3 team-grid">
          <img src="images/t1.jpg" alt="">
          <h6>Jain Smith</h6>
          <p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
        </div>
        <div class="col-md-3 team-grid">
          <img src="images/t2.jpg" alt="">
          <h6>shan carter</h6>
          <p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
        </div>
        <div class="col-md-3 team-grid">
          <img src="images/t3.jpg" alt="">
          <h6>Jack dany</h6>
          <p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
        </div>
        <div class="col-md-3 team-grid">
          <img src="images/t4.jpg" alt="">
          <h6>Mary Jain</h6>
          <p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  {{> footer }}
</body>
</html>
