<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{{> header }}
<body>
  <!-- banner -->
  <div class="banner">
    <div class="banner-content">
      {{> logo }}
      {{> menu }}
    </div>
  </div>
  <!-- //banner -->
  <!-- gallery -->
  <div class="gallery-top">
    <!-- container -->
    <div class="container">
      <div class="gallery-info">
        <h3>Gallery</h3>
      </div>
      <div class="gallery-grids-top">
        <div class="gallery-grids">
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g2.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g3.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g4.jpg" alt=""/></a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="gallery-grids gallery-grids-middle">
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g5.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g6.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g2.jpg" alt=""/></a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="gallery-grids">
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g3.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g4.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g5.jpg" alt=""/></a>
          </div>
          <div class="col-md-3 gallery-grid">
            <a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g6.jpg" alt=""/></a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <script src="js/lightbox-plus-jquery.min.js"></script>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //gallery -->
  {{> footer}}
</body>
</html>
