<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{{> header }}
<body>
  <!-- banner -->
  <div class="banner">
    <div class="banner-content">
      {{> logo }}
      {{> menu }}
    </div>
  </div>
  <!-- //banner -->
  <!-- services -->
  <div class="services">
    <div class="services-top">
      <div class="services-info">
        <h3>Services</h3>
      </div>
      <div class="welcome services-grid">
        <div class="welcome-left offer-left services-left">
          <h3>Surface Mining</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate sem vitae tortor venenatis 
            elementum. Suspendisse fermentum mauris arcu, eu hendrerit felis gravida at. Pellentesque habitant morbi 
            tristique senectus et netus et malesuada fames ac turpis egestas.Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Ut ullamcorper velit tellus, et imperdiet dui commodo vitae. Donec vehicula rhoncus lacus. 
            Cras lacinia, massa et tempus iaculis, velit ipsum aliquet turpis, vel ultricies lectus ligula eu felis. 
            Sed vel euismod ex. Aenean at sem quis tellus tincidunt ultricies. Donec tristique dui sed est interdum 
            molestie. Curabitur iaculis fermentum velit, ultricies aliquam tortor. 
          </p>
        </div>
        <div class="welcome-right services-right">
          
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="welcome new services-grid">
        <div class="welcome-left new-left services-left">
          <h3>Land & property</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate sem vitae tortor venenatis 
            elementum. Suspendisse fermentum mauris arcu, eu hendrerit felis gravida at. Pellentesque habitant morbi 
            tristique senectus et netus et malesuada fames ac turpis egestas.Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Ut ullamcorper velit tellus, et imperdiet dui commodo vitae. Donec vehicula rhoncus lacus. 
            Cras lacinia, massa et tempus iaculis, velit ipsum aliquet turpis, vel ultricies lectus ligula eu felis. 
            Sed vel euismod ex. Aenean at sem quis tellus tincidunt ultricies. Donec tristique dui sed est interdum 
            molestie. Curabitur iaculis fermentum velit, ultricies aliquam tortor. 
          </p>
        </div>
        <div class="welcome-right new-right services-right-img">
          
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="services-bottom">
      <!-- container -->
      <div class="container">
        <div class="services-bottom-info">
          <h3>Deep Mining</h3>
        </div>
        <div class="services-bottom-grids">
          <div class=" col-md-4 services-bottom-grid">
            <div class="services-img">
              <img src="images/s1.png" alt="" />
            </div>
            <h5>Nullam mollis tortor euismod</h5>
            <p>Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus vitae velit vitae elit 
              posuere mattis nullam accumsan eros id facilisis.
            </p>
          </div>
          <div class=" col-md-4 services-bottom-grid">
            <div class="services-img">
              <img src="images/s2.png" alt="" />
            </div>
            <h5>Nullam mollis tortor euismod</h5>
            <p>Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus vitae velit vitae elit 
              posuere mattis nullam accumsan eros id facilisis.
            </p>
          </div>
          <div class=" col-md-4 services-bottom-grid">
            <div class="services-img">
              <img src="images/s3.png" alt="" />
            </div>
            <h5>Nullam mollis tortor euismod</h5>
            <p>Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus vitae velit vitae elit 
              posuere mattis nullam accumsan eros id facilisis.
            </p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //container -->
    </div>
  </div>
  <!-- //services -->
  {{> footer}}
</body>
</html>
